.lets-go-btn {
  background-color: rgb(6, 179, 179);    
  color: white;                 
  border: none;
  padding: 12px 24px;           
  border-radius: 8px;           
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.3s;  
}

.lets-go-btn:hover {
  background-color: #0056b3;
}
