.App {
  font-family: sans-serif;
  text-align: center;
}
.App h1{
    color: rgb(6, 179, 179); 
    font-size: 24px;
}
.App h2{
    color: rgb(6, 179, 179); 
    font-size: 20px;
}
.App h2{
    color: rgb(6, 179, 179); 
    font-size: 20px;
    font-style: italic;
}